name: CI

on: [push]

jobs:
  front_end:
    name: Front end check and test

    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: frontend

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install pnpm
        uses: pnpm/action-setup@master
        with:
          cache: true
          package_json_file: frontend/package.json

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: pnpm
          cache-dependency-path: frontend/pnpm-lock.yaml

      - name: Install dependencies
        run: pnpm install

      - name: Run checks
        run: pnpm run check

      - name: Run tests
        run: pnpm run test:run

  back_end:
    name: Back end build and test

    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: backend

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "10.0.x"

      - name: Restore
        run: dotnet restore --locked-mode BookStore.slnx

      - name: Build
        run: dotnet build BookStore.slnx --configuration Release --no-restore

      - name: Test
        run: dotnet test BookStore.slnx --configuration Release --no-build
